<div>
  <div class="controls">
    <div>
      <button class="start-button" style="background-color: white">Start New Game</button>
    </div>
    <div>
      <input type="text" name="game-name">
      <button class="join-button" style="background-color: white">Join Game</button>
    </div>
  </div>
  <br>
  <div>
    <div class="play-area hidden" style="display: none">
      <canvas id="canvas1"></canvas>
    </div>
  </div>
</div>