/* This file is for your main application css. */

html { 
    height: 100%;
    overflow: hidden;
    position: fixed;
    overscroll-behavior: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: white;
    height: 100%;
    position: fixed;
    overscroll-behavior: none;
    overflow: hidden;
}